<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- sql 매핑하기 (Comment.xml, OneMemo.xml 참고) -->
<mapper namespace="mybatis.CJHmapper"> 
	<select id="selectListsp" resultType="CjhDTO">
		select space_no, space_name, intro_main, space_tag, intro_detail from space 
		where space_no=#{sn}
	</select>
	<select id="selectListhost" resultType="CjhDTO">
		select H.h_nickname, H.introduce, S.mail, S.phone from space S inner join user_host H on S.id=H.id 
		where S.space_no=#{sn}
	</select>
	<select id="selectListres" resultType="CjhDTO">
		select space_no, oper_time, regularly_close, min_day, max_day, min_person, max_person, price_standard, time_or_day, price_weekday, precaution 
		from space_reserve_info 
		where space_no=#{sn}
	</select>
	
	<insert id="insertSpace" parameterType="CjhDTO">
		insert into space(SPACE_NO, SPACE_NAME, HEART, SPACE_TYPE, FACILITIES, INTRO_MAIN, INTRO_DETAIL, ADDRESS, SPACE_TAG, IMG_MAIN, MAIL, PHONE, SIGUNGU, ID) values(SPACE_SEQ.NEXTVAL,#{space_name},#{heart},#{space_type},#{facilities},#{intro_main},#{intro_detail},#{address},#{space_tag},#{img_main},#{mail},#{phone},#{sigungu},#{id})
	</insert>
	
	<insert id="insertReserveInfo" parameterType="CjhDTO">
		insert into SPACE_RESERVE_INFO(SPACE_NO, MIN_DAY, MAX_DAY, MIN_PERSON, MAX_PERSON, PRICE_STANDARD, PRICE_WEEKDAY, PRECAUTION, TIME_OR_DAY, OPER_TIME, REGULARLY_CLOSE) values(RESERVEINFO_SEQ.NEXTVAL,#{min_day},#{max_day},#{min_person},#{max_person},#{price_standard},#{price_weekday},#{precaution},#{time_or_day},#{oper_time},#{regularly_close})
	</insert>
	
</mapper>



