<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- sql 매핑하기 (Comment.xml, OneMemo.xml 참고) -->

<mapper namespace="mybatis.KHWmapper"> 
	<insert id="memberInsert" parameterType="MemberDTO">
		INSERT INTO USER_NORMAL(ID,IMG,N_NICKNAME,NAME,MAIL,GENDER,AGE,N_ALARM_SMS,N_ALARM_MAIL,CREDIT,GRADE) VALUES(#{id},#{img},#{n_nickname},#{name},#{mail},#{gender},#{age},'Y','Y',0,'브론즈')
	</insert>
	
	<select id="memberIsMember" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM USER_NORMAL WHERE ID=#{id}
	</select>
	
	<insert id="questionInsert" parameterType="QuestionDTO">
		INSERT INTO USER_QUESTION VALUES(SEQ_USER_QUESTION_NO.NEXTVAL, #{question_type}, #{question_title}, #{question_content}, SYSDATE, NULL, #{id})
	</insert>
	
	<insert id="memberHostInsert" parameterType="MemberDTO">
		INSERT INTO USER_HOST(ID,H_NICKNAME,INTRODUCE,H_ALARM_SMS,H_ALARM_MAIL) VALUES(#{id},#{h_nickname},#{introduce},#{h_alarm_sms},#{h_alarm_mail})
	</insert>
	
	<insert id="memberHostImgInsert" parameterType="MemberDTO">
		INSERT INTO USER_HOST_IMG VALUES(#{id},#{img})
	</insert>
	
	<select id="memberIsHost" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM USER_HOST WHERE ID=#{id}
	</select>
	
	<select id="getMemberHostImg" parameterType="String" resultType="String">
		SELECT IMG FROM USER_HOST_IMG WHERE ID=#{id}
	</select>
	
	<!-- 컬럼 하나하나씩 가져오지말고 맵으로 한번에 받으렴 -->
	<select id="getMemberHost" parameterType="String" resultType="MemberDTO">
		SELECT * FROM USER_HOST WHERE ID=#{id}
	</select>
	
	<select id="selectSpaceInfo" parameterType="String" resultType="SpaceDTO">
		SELECT * FROM SPACE WHERE ADDRESS LIKE '%' || #{searchWord} || '%'
	</select>
	
	<insert id="insertToken" parameterType="String">
		INSERT INTO FCM_TOKEN VALUES(SEQ_FCM_TOKEN_TOKEN_INDEX.NEXTVAL, #{token}, null)
	</insert>
	
	<update id="tokenIDmapper" parameterType="java.util.Map">
		UPDATE FCM_TOKEN SET ID=#{id} WHERE TOKEN=#{token}
	</update>
	
</mapper>


