<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- sql 매핑하기 (Comment.xml, OneMemo.xml 참고) -->

<mapper namespace="mybatis.PSHmapper">

<!-- 	<resultMap id="SearchDTOResult" type="SearchDTO">
		<result property="space_no" column="space_no"/>
		<result property="space_name" column="space_name"/>
		<result property="heart" column="heart" />
		<result property="rank" column="rank"/>
		<result property="space_type" column="space_type"/>
		<result property="address" column="address"/>
		<result property="space_tag" column="space_tag"/>
		<result property="img_main" column="img_main"/>
		<result property="price_weekday" column="price_weekday"/>
		<result property="time_or_day" column="time_or_day"/>
	</resultMap> -->
 
	<select id="noticeSelectList" resultType="NoticeDTO">
			SELECT * FROM (SELECT T.*,ROWNUM R FROM (SELECT S.* FROM NOTICE S
		<if test="searchWord != null">
			WHERE CONTENT LIKE '%' || #{searchWord} || '%' OR TITLE LIKE '%' || #{searchWord} || '%'
		</if>
		ORDER BY NOTICE_NO DESC) T) WHERE R BETWEEN #{start} AND #{end}
	</select>
	<select id="noticeTotalCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM notice
		<if test="searchWord != null">
			WHERE CONTENT LIKE '%' || #{searchWord} || '%' OR TITLE LIKE '%' || #{searchWord} || '%'
		</if>
	</select>
	
	
	<select id="searchSelectList" parameterType="String" resultType="SearchDTO">
			SELECT SC.SPACE_NO,SPACE_TYPE,IMG_MAIN,SPACE_NAME,ADDRESS,SPACE_TAG,PRICE_WEEKDAY,TIME_OR_DAY,PRICE_STANDARD,HEART,RANK 
			FROM SPACE SC INNER JOIN SPACE_RESERVE_INFO SRI ON SC.SPACE_NO=SRI.SPACE_NO	 
			WHERE SPACE_NAME LIKE '%' || #{searchSpace} || '%' OR SPACE_TYPE LIKE '%' || #{searchSpace} || '%' OR SPACE_TAG LIKE '%' || #{searchSpace} || '%' OR ADDRESS LIKE '%' || #{searchSpace} || '%'
			ORDER BY HEART DESC
	</select>
	
	<select id="mainSpaceList" resultType="SearchDTO">
		SELECT A.*,ROWNUM
		FROM (SELECT SC.SPACE_NO,SPACE_TYPE,IMG_MAIN,SPACE_NAME,ADDRESS,SPACE_TAG,PRICE_WEEKDAY,TIME_OR_DAY,PRICE_STANDARD,HEART,RANK 
		FROM SPACE SC INNER JOIN SPACE_RESERVE_INFO SRI ON SC.SPACE_NO=SRI.SPACE_NO
		ORDER BY HEART DESC)A
		WHERE ROWNUM BETWEEN 1 AND 9
	</select>
</mapper>