<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- sql 매핑하기 (Comment.xml, OneMemo.xml 참고) -->

<mapper namespace="mybatis.PSHmapper"> 
	<select id="noticeSelectList" resultType="NoticeDTO">
			SELECT * FROM (SELECT T.*,ROWNUM R FROM (SELECT S.* FROM NOTICE S
		<if test="searchWord != null">
			WHERE CONTENT LIKE '%' || #{searchWord} || '%' OR TITLE LIKE '%' || #{searchWord} || '%'
		</if>
		ORDER BY NOTICE_NO DESC) T) WHERE R BETWEEN #{start} AND #{end}
	</select>
	<select id="noticeTotalCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM notice
		<if test="searchWord != null">
			WHERE CONTENT LIKE '%' || #{searchWord} || '%' OR TITLE LIKE '%' || #{searchWord} || '%'
		</if>
	</select>
</mapper>