<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- sql 매핑하기 (Comment.xml, OneMemo.xml 참고) -->

<mapper namespace="mybatis.PSYmapper"> 
	<select id="psySelectList" resultType="PsyTestDTO">
		select S.SPACE_NAME, H.H_NICKNAME, S.IMG_MAIN FROM  SPACE S INNER JOIN USER_HOST H on S.id= H.id
	</select>
</mapper>